<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOXICONS-->
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <title>Login & Register | Ludiflex</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-header">
            <div class="titles">
                <div class="title-login">Login</div>
            </div>
            <form action="#" class="login-form" autocomplete="off">
                <div class="input-box">
                    <input type="text" class="input-field" id="log-email">
                    <label for="log-email" class="label">Email</label>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html> 